* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --background-color: linear-gradient(165.96deg, #f8f4ff 0%, #eff0f4 100%);
  --text-primary-color: #464646;
  --text-secundary-color: #a3a3a3;
  --border-color: #4646461a;
  --button-background-primary-color: #4894ff;
  --button-background-secundary-color: #ffb050;
  --border-button-color: #ececec;
  --label-color: #898989;
  --placeholder-color: #cfcfcf;
  --placeholder-hover-color: #adadad;
  --main-primary-color: #fff;
  --option-background-hover-color: #f0f0f0;
  --font: 'Montserrat', sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: var(--font);
  background-image: var(--background-color);
  color: var(--text-primary-color);
  line-height: 160%;
}
.container {
  max-width: 540px;
  margin-inline: auto;
}
.header__status {
  padding: 0.6rem 1.6rem 0;
  background-color: var(--main-primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__status-icons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.header__content {
  padding: 0 1.6rem 0.6rem;
  margin-top: 3.2rem;
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto 1fr;

  justify-items: start;
}

.header__content-person {
  max-width: 5.7rem;
  border-radius: 50%;
  grid-area: 1 / 1 / 3 / 2;
}

.header__content-title {
  font-size: 2.2rem;
  font-weight: 700;
}

.header__content-text {
  font-size: 1.4rem;
  color: var(--text-secundary-color);
}

.main {
  padding: 1.6rem;
  padding-bottom: 7rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.appointments__day {
  padding: 0.8rem;
  font-weight: 700;
}

.appointments__cards {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.appointments__card {
  padding-block: 1.6rem;
  background-color: white;
  border-radius: 8px;
}

.appointments__card-header {
  padding: 0 1.6rem 0.8rem;
  border-bottom: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: minmax(3.2rem, 15%) 1fr auto;
  grid-template-rows: 22px auto;

  column-gap: 1.6rem;
}
.appointments__card-person {
  width: 100%;
  border-radius: 50%;
  grid-area: 1 / 1 / 3 / 2;
  align-self: center;
}

.appointments__card-name {
  font-weight: 700;
  font-size: 1.4rem;
  grid-row: 1/2;
}

.appointment__card-type {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-secundary-color);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  grid-row: 2 /2;
}

.appointment__card-type::before {
  content: '';
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1.6rem;
  height: 1.6rem;
}

.appointment__card-type--local::before {
  background-image: url('./img/pin.svg');
}

.appointment__card-type--remote::before {
  background-image: url('./img/Camera.svg');
}

.appoitment__card-chat {
  height: 32px;
  grid-row: 1/3;
}

.appointment__card-body {
  padding: 1rem 1.6rem 0;
  display: grid;
  gap: 0.8rem 1.8rem;
}

.appointment__card-time {
  font-size: 1.2rem;
  font-weight: 500;
  grid-column: 1/3;
}

.appointment__card-button {
  font-family: inherit;
  border: none;
  border-radius: 8px;
  height: 4.8rem;
  color: var(--main-primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.appointment__card-button--local {
  background-color: var(--button-background-primary-color);
  box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
  grid-column: 1/3;
}

.appointment__card-button--remote-video {
  background-color: var(--button-background-secundary-color);
  box-shadow: 0px 4px 16px rgba(255, 176, 80, 0.16);
  grid-column: 1 / 2;
}

.appointment__card-button--remote-audio {
  background-color: transparent;
  color: var(--text-primary-color);
  border: 1px solid var(--border-button-color);
  grid-column: 2 /2;
}

.appointment-form {
  display: none;
}

.appointment-form {
  background-color: white;
  width: 100%;
  border-radius: 16px;
  margin-inline: auto;
  max-width: 700px;
  padding: 3.2rem 6.4rem;
}

.appointment-form__input-container {
  display: flex;
  margin-block: 4.8rem;
  flex-direction: column;
  gap: 3.2rem;
}

.appointment-form__title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--button-background-primary-color);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.appointment-form__label {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--label-color);
}

.appointment-form__input {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: black;

  padding: 1.6rem;
  background-color: var(--main-primary-color);
  border: 1px solid var(--border-button-color);
  border-radius: 8px;
}
.appointment-form__input::placeholder {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: var(--font);
  color: var(--placeholder-color);
}

.appointment-form__input:hover {
  border: 1px solid var(--placeholder-color);
}
.appointment-form__input:focus {
  outline: 2px solid var(--button-background-primary-color);
  border: 2px solid var(--button-background-primary-color);
}

.appointment-form__input:hover::placeholder {
  color: var(--placeholder-hover-color);
}

.appointment-form__select {
  color: var(--text-primary-color);
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10.5L12 15.5L17 10.5H7Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
  background-position: center right;
  background-repeat: no-repeat;
}

.appointment-form__select:focus {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 15.5L12 10.5L7 15.5L17 15.5Z' fill='%238E8E8E'/%3E%3C/svg%3E%0A");
}

.appointment-form__select option {
  border-radius: 8px;
  background-color: var(--main-primary-color);
}

.appointment-form__select optgroup {
  color: #464646;
  height: 5.6rem;
}

.appointment-form__select option:hover {
  background-color: var(--option-background-hover-color);
}

.appointment-form__time-inputs {
  display: flex;
  justify-content: space-between;
  gap: 6.4rem;
}

.appointment-form__time-inputs,
.input-wrapper {
  flex-grow: 1;
}

.appointment-form__button {
  padding: 1.6rem;
  background-color: var(--button-background-primary-color);
  color: var(--main-primary-color);
  box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.16);
  border-radius: 8px;
  border: none;

  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  width: 100%;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.8rem 2.8rem 0.8rem 1.4rem;
  background-color: var(--main-primary-color);
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.06);
  border-radius: 12px 12px 0 0;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 3.6rem;
}

.footer__item-link {
  align-items: center;
  display: flex;
  color: inherit;
  flex-direction: column;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  opacity: 0.5;
}

.footer__item-link--ativo {
  opacity: 1;
  font-weight: bold;
  color: var(--button-background-primary-color);
}

.footer__item-link--ativo svg path {
  fill: var(--button-background-primary-color);
}

.button-plus {
  width: 56px;
  height: 56px;
  filter: drop-shadow(0px 4px 16px rgba(72, 148, 255, 0.5));
  background-color: var(--button-background-primary-color);
  padding: 2rem;
  border: none;
  border-radius: 100%;
  position: fixed;
  bottom: 8rem;
  right: 1.6rem;
  cursor: pointer;
}

@media screen and (min-width: 720px) {
  .main {
    gap: 0.8rem;
  }

  .main.container,
  .header__content.container {
    max-width: 100%;
  }

  .appointments__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
    padding: 1.5rem;
  }
  .card {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    display: grid;
    grid-template-areas:
      'sidebar header'
      'sidebar main ';
    grid-template-columns: auto 1fr;
  }

  .header {
    grid-area: header;
  }

  .header__status {
    display: none;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: sidebar;
    position: initial;
    padding-top: 3.2rem;
    padding-right: 6.4rem;
  }

  .footer__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }

  .footer__item-link {
    font-size: 1.6rem;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
  }

  .appointments__cards {
    padding: 3.2rem;
    gap: 4.8rem 6.4rem;
  }

  .appointments__cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .appointment-form {
    display: block;
  }

  .button-plus {
    display: none;
  }
}
