:root {
  font-size: 62.5%;
  --background-color: linear-gradient(165.96deg, #f8f4ff 0%, #eff0f4 100%);
  --text-primary-color: #464646;
  --text-secundary-color: #a3a3a3;
  --border-color: rgba(70, 70, 70, 0.1);
  --button-background-primary-color: #4894ff;
  --button-background-secundary-color: #ffb050;
  --border-button-color: #ececec;
  --main-primary-color: #fff;
  --font: 'Montserrat', sans-serif;
}

body {
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
  font-family: var(--font);
  background-image: var(--background-color);
  color: var(--text-primary-color);
  line-height: 160%;
}

.header {
  padding: 0.6rem 1.6rem;
}

.header__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__status-icons {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.header__content {
  margin-top: 3.2rem;
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto 1fr;

  justify-items: start;
}

.header__content-person {
  max-width: 5.7rem;
  border-radius: 50%;
  grid-area: 1 / 1 / 3 / 2;
}

.header__content-title {
  font-size: 2.2rem;
  font-weight: 700;
}

.header__content-text {
  font-size: 1.4rem;
  color: var(--text-secundary-color);
}

.main {
  padding: 1.6rem;
}

.appointments__day {
  font-weight: 700;
}

.appointments__cards {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.appointments__card {
  padding-block: 1.6rem;
  background-color: white;
}

.appointments__card-header {
  padding: 0 1.6rem 1.2rem;
  border-bottom: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 20px auto;

  column-gap: 1.6rem;
}
.appointments__card-person {
  width: 3.2rem;
  border-radius: 50%;
  grid-area: 1 / 1 / 3 / 2;
}

.appointments__card-name {
  font-weight: 700;
  font-size: 1.4rem;
  grid-row: 1/2;
}

.appointment__card-type {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-secundary-color);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  grid-row: 2 /2;
}

.appointment__card-type--remote::before {
  content: '';
  display: block;
  background-image: url('./img/Camera.svg');
  background-position: center center;
  width: 1.6rem;
  height: 1.2rem;
}

.appoitment__card-chat {
  height: 32px;
  grid-row: 1/3;
}
